# {{ ansible_managed }}
global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        root
    group       root
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats level admin

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

    # enable stats uri
    stats enable
    stats uri /haproxy?stats

frontend www-http
   bind {{ hostvars[ansible_hostname]['ansible_eth0']['ipv4']['address'] }}:80
   reqadd X-Forwarded-Proto:\ http

   default_backend app

frontend www-https
   bind {{ hostvars[ansible_hostname]['ansible_eth0']['ipv4']['address'] }}:443 ssl crt /etc/haproxy/certs/epicglue_com.pem
   reqadd X-Forwarded-Proto:\ https

   default_backend app

backend app
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    redirect scheme https if !{ ssl_fc }

    {% for host in groups['app'] %}
       server {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}:8080 check
    {% endfor %}
    #balance     roundrobin