output {
  elasticsearch {
    hosts => ["{{ logstash_elasticsearch_host }}"]
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
    #template_overwrite => true
  }
}
