# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4 {{ inventory_hostname }}
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6 {{ inventory_hostname }}

# {% for host in groups['all'] %}
# {% if 'ansible_eth1' in hostvars[host] %}
# {% if hostvars[host]['ansible_eth1']['active'] %}
# {{ hostvars[host]['ansible_eth1']['ipv4']['address'] }} {{ host }}
# {% endif %}
# {% endif %}
# {% endfor %}

# Epic Vagrant
10.0.15.11  lb1
10.0.15.12  lb2

10.0.15.21  es1
10.0.15.22  es2
10.0.15.23  es3

10.0.15.31  db1
10.0.15.32  db2

10.0.15.41  cache1
10.0.15.42  cache2

10.0.15.51  web1
10.0.15.52  web2

10.0.15.61  logs1

10.0.15.71  ci1

10.0.15.81  app1
10.0.15.82  app2